.home {
	position: relative;

	&__section {
		height: 100vh;
		font-size: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 25%;
	}
}

.on {
	color: orangered;
	opacity: 1;
}
